html
	head
		title Geo Tweets
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')

		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBxx874USyNwfXmkwd5OcpWwFxhrMhMLXw')
		script(src='/js/map-theme.js')
		script(src='/js/app.js')
	body
		.container
			.row
				.col-md-4
					h1 Geo Tweets
					p Get realtime nearby tweets in your area!
				.col-md-4.pt10
					.h4 Search for your favourite tweets
					.form.form-horizontal
						.form-group
							input.form-control#search(type='text')
				.col-md-4
					h1
					blockquote.blockquote-reverse 
						p Please allow to read your location
						small Geo tweets needs your location to find the nearest tweets quickly!
			#map
