const twitter = {
	tokens: {
		accessToken: '<access_token>',
		secretToken:'<secret_token>'
	},
	keys: {
		consumerKey: '<key>',
		consumerSecret: '<secret>',
		callback: '<callback_url>'
	}
}

module.exports = twitter;
